.calculadora {
  display: grid;
  width: 300px;
  height: 500px;
  grid-template-rows: 0.8fr 1fr;
  border-radius: 10px;
  overflow: hidden;
}

.display {
  grid-row: 1;
  background-color: #101823;
}

.comands {
  grid-row: 2;
  background-color: #142030;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  padding: 22px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
